.body{
    background-color: rgb(245, 245, 0.1);
    
}

.container-home{
    padding: 44dp;
    background-color: gray;
    padding: 13%;
    display: flex;
   
}

.tipe{
    
    width: 30%;
    margin: auto;
    text-align: center;    
}



.tipe-judul{
    font-weight: 900;
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.buttons{
    font-size: large;
}
