.body{
    background-color: whitesmoke;
    scroll-behavior: auto;
}

.container-home{
  
    padding: 7%;
    display: flex;
    margin-top: 4%;
    height: 87vh;
}

.tipe{
    width: 30%;
    
    margin: auto;

}

.tipe .img{
    width: 20%;
    height: 20%;
}

.tipe a:hover{
    opacity: 0.7;
}
