*{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    padding: 1%;
    margin-top: 4%;
    margin-bottom: 2%;
    text-align: center;
}

.container-product{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
} 

.judul{
    float: left;
    width: 40%;
    font-size: 2vw;
}

.search{
    margin:1%;
    float: right;
    width: 20%;
}

.search input{
    height: 4vh;
    width: 100%;
    border-radius: 10px;
}

.item{
    width: 20%;
    padding: 2%;
    margin-left: 1%;
    border: 1px solid;
    text-align: center;

}

.item .harga,.item .nama{
    color: crimson;
    text-align: center;
    margin: 5%;
}

.item .harga{
    font-size: 1vw;
}

.item .nama{
    font-size: 1.5vw;
}

.item .image{
    width: 80%;
}

.detail,.beli{
    border-radius: 7px;
    display: block;
    float: left;
    width: 30%;
    margin: 4px;
    text-align: center;
    color: white;
}

.detail{
    background-color: green;
    padding: 2%;
    font-size: 1.5vw;
}

.beli{
    background-color: crimson;
    padding: 2%;
    font-size: 1.5vw;
}

.rating{
    width: 80%;
    margin: auto;
}
