.container{
    padding: 1%;
    margin-top: 4%;
    margin-bottom: 2%;
    text-align: center;
    background-color: dimgrey;
}

.container-product{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 

.judul{
    float: left;
    width: 40%;
    font-size: 2vw;
}

.search{
    margin:1%;
    float: right;
    width: 20%;
}

.search input{
    height: 4vh;
    width: 100%;
    border-radius: 10px;
}

.item{
    width: 30%;
    height: 50vh;
    margin-left: 1%;
    border: 1px solid;

}

.item h3{
    text-align: center;
    font-size: 1vw;
    margin: 5%;
}

.item image{
    width: 50%;
    height: 80%;
}